<!DOCTYPE HTML>
<html>
  <head>
    <title>Jovian Career</title>
  </head>
  <body>
    <h1>Jovian Career </h1> 
    <img src = "https://jovian-career-website.roshanmishal.repl.co/static/tesing.jpg"height = "320">
    <h2>About Jovian</h2>
    <p>
      Information technology (IT) is the use of computers to create, process, store, retrieve and exchange all kinds of data[1] and information. IT forms part of information and communications technology (ICT).[2] An information technology system (IT system) is generally an information system, a communications system, or, more specifically speaking, a computer system — including all hardware, software, and peripheral equipment — operated by a limited group of IT users.
    </p>
    <h2> Open Positions</h2>
    <h2>to job details</h2>
    <button>Contact us</button>
  </body>
  
  
</html>
